@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&display=swap');

/* Merriweather */
/* Montserrat */

:root{
    --blue: #36c;
    --hover-grey: #eaecf0;
}


body{
    margin: 0;
}

a{    
    text-decoration: none;
    color: black;
}


#title-container{
    display: flex;
    flex-direction: column;

    font-family: 'Merriweather', sans-serif;
    width: fit-content;
    margin: auto;
    margin-top: 3em;
}

#main-heading{
    font-size: 2rem;
    font-weight: 500;
}

#sub-heading{
    font-size: 1rem;
}

#graphic-box{

    margin: auto;
    width: 700px;

    display: flex;
    justify-content: space-between;

    background-image: url("images/wiki-globe.png");
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

#languages-graphic-left, #languages-graphic-right{
    display: flex;
    width: 100%;
    flex-direction: column;
    
    margin: 1.8em;
    max-height: 380px;
}

#languages-graphic-right{
    align-items: flex-end;
}

.language-box{
    display: flex;
    flex-direction: column;
    margin: 0.8em 0;
    height: 40px;
    width: 150px;
    align-items: center;
    justify-content:space-between ;
}

.language-box:hover{
    background-color: var(--hover-grey);
    transition: 100ms;
    text-decoration: underline;
}

.lang-heading{
    width: fit-content;

    font-size: 1rem;
    font-weight: 700;
    color: var(--blue);
}

.lang-articles{
    font-size: 0.8rem;
}

/* Doing this because idk how to make a loop in css :/ */

#languages-graphic-left > .language-box:nth-child(1){margin-left: 35%;}
#languages-graphic-left > .language-box:nth-child(2){margin-left: 20%;}
#languages-graphic-left > .language-box:nth-child(3){margin-left: 15%;}
#languages-graphic-left > .language-box:nth-child(4){margin-left: 20%;}
#languages-graphic-left > .language-box:nth-child(5){margin-left: 35%;}

#languages-graphic-right > .language-box:nth-child(1){margin-right: 35%;}
#languages-graphic-right > .language-box:nth-child(2){margin-right: 20%;}
#languages-graphic-right > .language-box:nth-child(3){margin-right: 15%;}
#languages-graphic-right > .language-box:nth-child(4){margin-right: 20%;}
#languages-graphic-right > .language-box:nth-child(5){margin-right: 35%;}

#searchbar{

    margin: auto;
    width: 500px;
    height: 50px;
    display: flex;

    background-color: antiquewhite;
}

#search-box{
    display: flex;
    flex: 9;
    background-color: bisque;
}

#search-box > input{
    flex: 9;
}

#search-box > a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#searchbar > a{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-btn{    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: beige;
}

/* google icon */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#lang-mega-box{
    width: 80%;
    margin: auto;
    margin-top: 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-top: solid 1px;
}

#lang-mega-box > label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5em;

    background-color: #fff;
    border: solid 2px;
    border-color: var(--blue);
    padding: 0.5em;
}

#lang-mega-box > input, .lang-cont{
    display: none;
}


/* lang-cont when active */
#lang-mega-box > input:checked~.lang-cont{    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lang-art-box{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: solid 1px;
}

.lang-art-head{
    align-self: center;
}

.lang-art-cont{
    width: 100%;
}

.lang-art-cont > ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
}


